.editlink {
    width: 12px !important;
    height: 12px !important;
    padding: 0px !important;
    font-size: 8px !important;
    background: none !important;
    border: none !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EFDD6F;
}
